version: '3.3'

services:
  pacsdb:
    image: postgres:15-alpine
    container_name: pacsdb
    volumes:
      - ./orthanc/database:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${PG_PASS}
      POSTGRES_USER: orthanc
      POSTGRES_DB: orthanc
    restart: always
    networks:
      - proxy

  pacs:
    # Esta es la imagen oficial recomendada por el Orthanc Team
    image: osimis/orthanc:23.11.0
    container_name: orthanc
    depends_on:
      - pacsdb
    ports:
      - "4242:4242"
      - "8042:8042"
    volumes:
      - ./orthanc/config/orthanc.json:/etc/orthanc/orthanc.json
      - ./orthanc/db:/var/lib/orthanc/db
    restart: always
    environment:
      # Variables para activar los plugins segun el manual
      ORTHANC__POSTGRESQL__HOST: pacsdb
      ORTHANC__POSTGRESQL__PORT: 5432
      ORTHANC__POSTGRESQL__USERNAME: orthanc
      ORTHANC__POSTGRESQL__PASSWORD: ${PG_PASS}
      ORTHANC__POSTGRESQL__ALLOW_DATABASE_UPGRADE: "true"
      ORTHANC__DICOM_WEB__ENABLE: "true"
      ORTHANC__REMOTE_ACCESS_ALLOWED: "true"
      ORTHANC__NAME: "MAPDR_PACS"
    networks:
      - proxy

  ohif:
    image: ohif/app:latest
    container_name: ohif
    ports:
      - "3000:80"
    volumes:
      - ./ohif/config/ohif.js:/usr/share/nginx/html/app-config.js:rw
    restart: always
    networks:
      - proxy

  reverse-proxy:
    image: nginx:alpine
    container_name: nginx-proxy
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    depends_on:
      - ohif
      - pacs
    networks:
      - proxy

networks:
  proxy:
    driver: bridge
